<div class="col-md-6">
  <h2 class="text-center" style="color: whitesmoke;">Add role</h2>
  <form #myForm="ngForm">
    <div class="form-group">
      <label for="name"style="color: whitesmoke;">Role-Name:</label>
      <input type="text" placeholder="Role-Name" name="Rolename" class="form-control" id="name" [(ngModel)]="userObj.roleName">
    </div>
  
    <div class="form-group">
      <label for="designation" style="color: whitesmoke;">List-Name:</label>
      <input  placeholder="List-Name" name="listName" class="form-control" id="designation" [(ngModel)]="userObj.listName">
    </div>
  
    <div class="form-group">
      <label for="empId" style="color: whitesmoke;">IsAdmin:</label>
      <!-- <input  placeholder="IsAdmin" name="isAdmin" class="form-control"  id="employeeid" [(ngModel)]="userObj.isAdmin"> -->
      <select  id="isAdmin" name="isAdmin"  class="form-control" readonly>
        <option  placeholder="IsAdmin" name="isAdmin"  [(ngModel)]="userObj.isAdmin">{{userObj.isAdmin}}</option>
      </select>
    </div>
    <div class="form-group" hidden>
      <label for="isActive" >IsActive:</label>
    
      <input  placeholder="isActive" name="isActive" class="form-control"  [(ngModel)]="userObj.isActive"readonly>
    </div>
    <div class="form-group" hidden>
      <label for="user-name">Created By:</label>
     
      <input placeholder=" "  name="createdBy" class="form-control"  [(ngModel)]="userObj.createdBy"readonly>
    </div>
    <div class="form-group" hidden>
      <label for="Today">Timestamp:</label>
    
      <input placeholder="Timestamp" name="Timestamp" class="form-control"  [(ngModel)]="userObj.Timestamp" readonly>
    </div>
    <div class="form-group" hidden>
      <label for="Modifyby">ModifiedBy:</label>
    
      <input placeholder="" name="ModifiedBy" class="form-control"  [(ngModel)]="userObj.modifiedBy" readonly>
    </div>
    <div class="form-group" hidden>
      <label for="Modifyon">ModifiedOn:</label>
    
      <input placeholder="" name="ModifiedOn" class="form-control"  [(ngModel)]="userObj.modifiedOn" readonly>
    </div>
   
 
    <button class="btn btn-info" (click)="createRole(myForm.value)"  >Add</button>
    <!-- <button class="btn btn-success" (click)="createRole(myForm.value)">Update</button> -->
  </form>
  </div>