<head>    
    <title>Login Form</title>    
       
</head>    
<body>    
    <h2>Login Page</h2><br>    
    <div class="login">    
    <form >    
        <label><b>User Name     
        </b>    
        </label>    
        <input name="name" type="text" name="Uname" id="Uname" placeholder="Username" [(ngModel)]="name">    
        <br><br>    
        <label><b>Password     
        </b>    
        </label>    
        <input name="password" type="Password" name="Pass" id="Pass" placeholder="Password" [(ngModel)]="password">    
        <br><br>    
        <!-- <input type="button" name="log" id="log" value="Log In Here" (click)="onfun()">     -->
        <button style=" margin-left: 120px;" (click)="onfun()" class="btn btn-success">Login here</button>
        <br><br>    
        <button style=" margin-left: 120px;" routerLink="/register" class="btn btn-warning">Register</button>
         
    </form>  
    <!-- {{loginform.value | json}}    -->
</div>    
</body>  

