<head>    
    <title style="color: whitesmoke;">Login Form</title>    
       
</head>    
<body style="background-color:rgb(56, 54, 54);">    
    <h2 style="color: whitesmoke;">Login Page</h2><br>    
    <div class="login">    
    <form [formGroup]="authenticationForm" (ngSubmit)="onfun()" >    
        <label style="color: whitesmoke;"><b>User Name     
        </b>    
        </label>    
        <input  type="text"  id="Uname" placeholder="Username"  formControlName="name">    
        <br><br>    
        <label style="color: whitesmoke;"><b>Password     
        </b>    
        </label>    
        <input  type="Password"  id="Pass" placeholder="Password" formControlName="password">    
        <br><br>    
        <!-- <input type="button" name="log" id="log" value="Log In Here" (click)="onfun()">     -->
        <button type="submit" style=" margin-left: 120px;"  class="btn btn-info">Sign-in</button>
        <br><br>    
        <!-- <button style=" margin-left: 120px;" routerLink="/register" class="btn btn-warning">Register</button> -->
         
    </form>  
    <!-- {{loginform.value | json}}    -->
</div>    
</body>  

