<div class="col-md-6">
  <h2 class="text-center" style="color: whitesmoke;">Add Dashboard</h2>
  <form [formGroup]="createDash" (ngSubmit)="createRole()">
    <div class="form-group">
      <label style="color: whitesmoke;">Role</label>
      <select  id="role" name="role"  formControlName="role"  aria-placeholder="hello" class="form-control" >
        <option value=""  selected >please select the Role</option>
        <option  *ngFor="let user of allUser1" name="role" class="form-control" [value]="user.Rolename" >{{user.Rolename}}</option>
      </select>
    </div>
  
    <div class="form-group">
      <label for="designation" style="color: whitesmoke;">Report-Name:</label>
      <input  placeholder="Report-Name" name="reportName" class="form-control" id="designation" formControlName="reportName">
    </div>
  
    <div class="form-group">
      <label for="empId" style="color: whitesmoke;">Power BI Links:</label>
      <input  placeholder="link" name="pwb" class="form-control" id="employeeid" formControlName="pwb">
    </div>
    <div class="form-group" hidden>
      <label for="user-name" >Created By:</label>
     
      <input placeholder=" "  name="createdBy" class="form-control" formControlName="createdBy" readonly>
    </div>
    <div class="form-group" hidden >
      <label for="Today">CreatedOn:</label>
    
      <input placeholder="Timestamp" name="Timestamp" class="form-control"  formControlName="Timestamp" readonly>
    </div>
    <div class="form-group" hidden >
      <label for="Modifyby">ModifiedBy:</label>
    
      <input placeholder="" name="ModifiedBy" class="form-control" formControlName="ModifiedBy"  >
    </div>
    <div class="form-group" hidden >
      <label for="Modifyon">ModifiedOn:</label>
    
      <input placeholder="" name="ModifiedOn" class="form-control"  formControlName="ModifiedOn"  >
    </div>
    <div class="form-group" hidden>
      <label for="isActive" >IsActive:</label>
    
      <input  placeholder="IsActive" name="IsActive" class="form-control"  formControlName="isActive"readonly>
    </div>
    <button class="btn btn-info"  >Add</button>
    <!-- <button class="btn btn-success" (click)="createRole(myForm.value)">Update</button> -->
  </form>
  </div>