.div1
{
    background-color: rgb(10, 163, 163);
    padding:10px;
    width:101%;
    margin-top: -8px;
    margin-left: -8px;
    height: 50px;
}
h1
{
    margin-left: 300px;
   margin-top: -10px;
}
ul
{
    list-style-type: none;
    
}
.div2
{
    
    position:left;
    background-color:rgb(176, 167, 228);
    width:220px;
    height:620px;
    margin-left: 0px;
    margin-top: 0px;
}
.div3
{
    position: absolute;
    background-color: blueviolet;
    margin-left: -8px;
    margin-top: -16px;
}
.div4
{
    position: absolute;
    background-color: blueviolet;
    margin-left: -8px;
    margin-top: -16px;
}
.div5
{
    position: absolute;
    background-color: blueviolet;
    margin-left: -8px;
    margin-top: -16px;
}
/* .div4
{
    background-color:blueviolet;
    margin-left: 500px;
} */
.popover-header 
{
    color: black;
}
.custom-dynamic-popover-class > .popover-inner > .popover-title {
    background: yellow;
  }
.yo
{
    background-color: brown;
}
#displaytable1
{
    margin-left: 50px;
    margin-top: -580px; 
}
#displaytable2
{
    margin-left: 80px;
    margin-top: -580px; 
}
#displaytable3
{
    margin-left: 80px;
    margin-top: -550px; 
}
.rev
{
    position: absolute;
    margin-top: -660px;
    margin-left: 1285px;
}
.div6
{
margin-top: -570px;
margin-left: 450px;
}
.div7
{
margin-top: -570px;
margin-left: 300px;
}
.div8
{
margin-top: -570px;
margin-left: 450px;
}
.div9
{
margin-top: -570px;
margin-left: 300px;
}
/* .json
{
    margin-top: -230px;
    
} */
.frame1
{
    position: right;
    margin-left: 2450px;
    margin-top: -2580px; 
}
