 body,html{
     height: 100%;
     width:100%;
     background-color:black;
     
 }
 .div1   /* Top-panel */
{
    background-color: rgb(10, 163, 163);
    padding:10px;
    width:101%;
    margin-top: -8px;
    margin-left: -8px;
    height: 50px;
    width:110%;
}
h1
{
    margin-left: 300px;
   margin-top: -10px;
}
ul
{
    list-style-type: none;
    
}
.div2 /* side-panel */
{
    
    position:left;
    background-color:rgb(176, 167, 228);
    width:220px;
    height:620px;
    margin-left: 0px;
    margin-top: -7px;
}
.div3
{
    position: absolute;
    background-color: blueviolet;
    margin-left: -8px;
    margin-top: -16px;
}
.div4
{
    position: absolute;
    background-color: blueviolet;
    margin-left: -8px;
    margin-top: -16px;
}
.div5
{
    position: absolute;
    background-color: blueviolet;
    margin-left: -8px;
    margin-top: -16px;
}
/* .div4
{
    background-color:blueviolet;
    margin-left: 500px;
} */
.popover-header 
{
    color: black;
}
.custom-dynamic-popover-class > .popover-inner > .popover-title {
    background: yellow;
  }
.yo
{
    background-color: brown;
}
#displaytable1
{
    margin-left: 220px;
    margin-top: -620px; 
    background-color: black;
    height: 620px;
    width: 100%;
}
#displaytable2
{
    
    margin-left: 225px;
    margin-top: 20px; 
    background-color: black;
    height: 600px;
    width: 400px;
}
#displaytable3
{
    margin-left: 225px;
    margin-top: 50px; 
    background-color: black;
    height: 620px;
}
.rev
{
    position: absolute;
    margin-top: -660px;
    margin-left: 1285px;
}
.div6
{
margin-top: -570px;
margin-left: 450px;
}
.div7
{
margin-top: -570px;
margin-left: 300px;
}
.div8
{
margin-top: -570px;
margin-left: 450px;
}
.div9
{
margin-top: -570px;
margin-left: 300px;
}
/* .json
{
    margin-top: -230px;
    
} */
#frame1,#history
{
    position: right;
    margin-left: 220px;
    margin-top: 0px;
    height: 620px;
    
}
.username
{
    color:white;
}
.background
{
    background-color: black;
}
html{
    background-color:black;
}