 body,html{
     height: 100%;
     width:100%;
     /* background-color:black; */
     
 }

 .div1   /* Top-panel */
{
    background-color: rgb(6, 16, 100);
    padding:10px;
    width:101%;
    margin-top: -8px;
    margin-left: -8px;
    height: 50px;
    width:125%;
}
h1
{
    margin-left: 300px;
   margin-top: -10px;
}
ul
{
    list-style-type: none;
    
}
.div2 /* side-panel */
{
    
    position:left;
    background-color:rgb(155, 207, 219);
    width:220px;
    height:1020px;
    margin-left: 0px;
    margin-top: 0px;
}
.div3
{
    position: absolute;
    background-color: blueviolet;
    margin-left: -8px;
    margin-top: -16px;
}
.div4
{
    position: absolute;
    background-color: blueviolet;
    margin-left: -8px;
    margin-top: -16px;
}
.div5
{
    position: absolute;
    background-color: blueviolet;
    margin-left: -8px;
    margin-top: -16px;
}
/* .div4
{
    background-color:blueviolet;
    margin-left: 500px;
} */
.popover-header 
{
    color: black;
}
.custom-dynamic-popover-class > .popover-inner > .popover-title {
    background: yellow;
  }
.yo
{
    background-color: brown;
}
#displaytable1  /* Roles-table's div */
{
    margin-left: 20px;
    margin-top: -970px; 
    /* background-color: black; */
    height: 620px;
    width: 100%;
}
#displaytable2 /* dashboard-table's div */
{
    
    margin-left: 65px;
    margin-top: -970px; 
    /* background-color: black; */
    height: 600px;
    width: 90%;
}
#displaytable3 /* users-table's div */
{
    margin-left: 25px;
    margin-top: -970px;
    /* background-color: black; */
    height: 620px;
    width: 90%;
}
#displaytable4 /* notification-table's div */
{
    position: static;
    margin-left: 25px;
    margin-top: -970px;
    /* background-color: black; */
    height: 620px;
    width: 90%;
    z-index: 99999;
}
#displaymap  /* Roles-table's div */
{
    margin-left: 220px;
    margin-top: -1075px; 
    /* background-color: black; */
    height: 620px;
    width: 100%;
}
.rev /* logout */
{
    position: absolute;
    margin-top: -660px;
    margin-left: 1285px;
}
.div6
{
margin-top: -570px;
margin-left: 450px;
}
.div7
{
margin-top: -570px;
margin-left: 300px;
}
.div8
{
margin-top: -570px;
margin-left: 450px;
}
.div9
{
margin-top: -570px;
margin-left: 300px;
}
/* .json
{
    margin-top: -230px;
    
} */
#history
{
    position: right;
    margin-left: 220px;
    margin-top: -970px;
    height: 1020px;
    width: 100%;
    
}
.wrapper
{
    overflow-x: auto;
}
#frame1
{
    margin-top: -600px;
}
.username
{
    color:white;
    margin-left: 45px;
}
 .background
{
    background-color: rgb(56, 54, 54);
    margin:0px auto;
} 
/* html{
    background-color:black;
} */
.container ul{
    position: relative;
    margin-top: 20px;
}
.container a{
    padding:8px 80px;
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container .nav-link{
    position: relative;
    z-index: 99999;
}
.panel{
    content: "";
    position: absolute;
    width:100%;
    height: 100%;
    background-color:rgba(17, 16, 16, 0.788);
    border-radius: 3px;
    cursor: pointer;
    z-index: 0;
    box-shadow: 2px 5px 20px rgba(150, 137, 137, 0.479);
}
.nav {
    background-color: #000 !important;
}

.nav>li>a {
    background-color: #666 !important;
    color:rgb(56, 41, 41);
}
.div2>ul>li>button{
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}
.tablescroll1
{
    overflow-x: auto;
}
#navi>button{
   
    background-color:inherit;
    color: black;
    padding: 22px 16px;
    width:10%;
    border:none;
    outline:none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}
agm-map {
    height: 164%;
    width: 85%;
  
  }
.div2>ul>li>button:hover {
    background-color:rgb(155, 207, 219);
  }
  .div2>ul>li>button.active {
    background-color: #ccc;
  }
  .div2>ul{
      margin-left: -30px;
  }
  @media screen and (max-width:600px)
  {
.background{
    width: 100%;
}
.div1
{
    width:100%;
}
#displaytable1
{
    width:100%;
}
#displaytable1>div
{
    width:100%;
}

#logout
{
width: 100%;
}

  }