<div class="div1"> <h1>SRG</h1></div>
<div class="div2"> 
    <ul>
        
         <li><button  (click)="Onfunction(1)" >Role</button></li> 
         <li></li>
        <li><button  (click)="Onfunction(2)" >Dashboard</button></li>
        <li></li>
        <li><button  (click)="Onfunction(3)" >User</button></li>
        <li></li>
        <li>Walmart</li>
        <li><button (click)="Onfunction(4)">Walmart Rpt 1</button></li> 
         
        <li><button (click)="Onfunction(5)">Walmart Rpt 2</button></li>
        <li></li>
        <li>Target</li>
        <li><button (click)="Onfunction(6)" >Target Rpt 1</button></li> 
         
        <li><button (click)="Onfunction(7)">Target Rpt 2</button></li>
        <li class="rev"><button (click)="logout()">LogOut</button></li>
    </ul>
</div>

    <!-- <h1>hello</h1>  -->
    <!-- <div class="div3" >
        <table border="1px" id = "displaytable1" style="display:none">
            <tr>
                <th *ngFor = "let column of headers">
                    {{column}}
                  </th>
        </tr>
        <tr *ngFor = "let row of rows">
            <td *ngFor = "let column of headers">
              {{row[column]}}
            </td>
          </tr>
          <tr>
            <button (click)="onadd()">Add</button>
          </tr>
    </table>
    
    </div> -->
    <div class="json" id="displaytable1">
        <table class="table table-dark table-hover" style="width: 50%; margin-top: -550px; margin-left: 320px;">
            <thead>
              <tr style="height: 25px; width: 5px">
                
                <th style="width: 120px;">Role name</th>
                <th scope="col">List name</th>
                <th scope="col">Is Admin</th>
                <!-- <th scope="col">password</th> -->
                <th scope="col">edit</th>
                <th scope="col">delete</th>
              </tr>
            </thead>
            <tbody>
             <tr *ngFor="let user of allUser">
             <td>{{user.Rolename}}</td>
             <td>{{user.listName}}</td>
             <td>{{user.isAdmin}}</td>
            
             <td><a routerLink="/UpdateRole/{{user.id}}" ><button   class="btn btn-warning">edit</button></a></td>
             <!-- <td><button (click)="deleteUser(user)" class="btn btn-danger">delete</button></td> -->
             <td> <button
                
                class="btn btn-danger"
                mwlConfirmationPopover
                [popoverTitle]="popoverTitle"
                [popoverMessage]="popoverMessage"
                placement="left"
                (confirm)="deleteUser(user)"
                (cancel)="cancelClicked = true"
                
              >
                delete
              </button></td>
            </tr>  
            </tbody>
          </table>
          <button style="margin-left:600px;" class="btn btn-success" (click)="onadd()">Add Role</button>

    </div>
    

    <!-- <div class="div4" >
        <table border="1px" id = "displaytable2" style="display:none">
            <tr>
                <th *ngFor = "let column of headers1">
                    {{column}}
                  </th>
        </tr>
        <tr *ngFor = "let row of rows1">
            <td *ngFor = "let column of headers1">
              {{row[column]}}
            </td>
          </tr>
    </table>
    </div> -->
    <div class="json" id="displaytable2">
      <table class="table table-dark table-hover" style="width: 50%; margin-top: -550px; margin-left: 320px;">
          <thead>
            <tr style="height: 25px; width: 5px">
              
              <th scope="col" style="width:80px;">Role</th>
              <th scope="col" style="width: 200px;" >Report name</th>
              <th scope="col">Power BI Links</th>
              <!-- <th scope="col">password</th> -->
              <th scope="col">edit</th>
              <th scope="col">delete</th>
            </tr>
          </thead>
          <tbody>
           <tr *ngFor="let user of allUser1">
           <td>{{user.role}}</td>
           <td>{{user.reportName}}</td>
           <td>{{user.pwb}}</td>
          
           <td><a routerLink="/UpdateDashboard/{{user.id}}" ><button   class="btn btn-warning">edit</button></a></td>
           <!-- <td><button (click)="deleteUser(user)" class="btn btn-danger">delete</button></td> -->
           <td> <button
            
              class="btn btn-danger"
              mwlConfirmationPopover
              [popoverTitle]="popoverTitle"
              [popoverMessage]="popoverMessage"
              placement="left"
              (confirm)="deleteUser1(user)"
              (cancel)="cancelClicked = true"
              
            >
              delete
            </button></td>
          </tr>  
          </tbody>
          
        </table>
        <button style="margin-left:600px;" class="btn btn-success" routerLink="/AddDashboard">Add</button>
  </div>
  
    <!-- <div class="div5" >
        <table border="1px" id = "displaytable3" style="display:none">
            <tr>
                <th *ngFor = "let column of headers2">
                    {{column}}
                  </th>
        </tr>
        <tr *ngFor = "let row of rows2">
            <td *ngFor = "let column of headers2">
              {{row[column]}}
            </td>
          </tr>
    </table>
    </div> -->
    <div class="json" id="displaytable3">
      <table class="table table-dark table-hover" style="width: 50%; margin-top: -550px; margin-left: 320px;">
          <thead>
            <tr style="height: 25px; width: 5px">
              
              <th style="width: 180px;">Username</th>
              <th scope="col">password</th>
              <th scope="col">Role</th>
              <th scope="col">edit</th>
              
            </tr>
          </thead>
          <tbody>
           <tr *ngFor="let user of allUser2">
           <td>{{user.name}}</td>
           <td>{{user.password}}</td>
           <td>{{user.role}}</td>
           <td><a routerLink="/UpdateUser/{{user.id}}" ><button   class="btn btn-warning">edit</button></a></td>
          </tr>  
          </tbody>
        </table>
        <!-- <button style="margin-left:600px;" class="btn btn-success" (click)="onadd()">Add Role</button> -->

  </div>
  

    <!-- <div class="operation">
      <button (click)="onadd()">Add</button>

    </div> -->
    <div class="div6">
      <div id="displaytable4" style="display:none">
      <img [src]=myimage1 alt="Forest" width="600" height="400">
  </div>
  </div>
  <div class="div7" style.display="none">
      <div id="displaytable5" style="display:none">
          <img [src]=myimage2 alt="Forest1" width="800" height="400" >
      </div>
  </div>
  <div class="div8">
    <div id="displaytable6" style="display:none">
    <img [src]=myimage3 alt="Forest" width="600" height="400">
</div>
</div>
<div class="div9">
  <div id="displaytable7" style="display:none">
  <img [src]=myimage4 alt="Forest" width="600" height="400">
</div>
</div>




