.div1
{
    background-color: rgb(10, 163, 163);
    padding:10px;
    width:100%;
    margin-top: -8px;
    margin-left: -8px;
    height: 50px;
}
.div2
{
    position:left;
    background-color:rgb(106, 167, 172);
    width:220px;
    height:594px;
    margin-left: -8px;
    margin-top: -20px;
}
ul
{
    list-style-type: none;
}
h1
{
    margin-left: 300px;

}
.rev
{
    margin-top: -112px;
    margin-left: 1250px;
}
.div3
{
margin-top: -550px;
margin-left: 450px;
}
.div4
{
margin-top: -550px;
margin-left: 300px;
}