<div class="div1"> <h1>SRG | Walmart</h1></div>
<div class="div2"> 
    <ul>
        <li><h3>Walmart</h3></li>
         <li><button (click)="onfun(1)">Walmart Rpt 1</button></li> 
         
        <li><button (click)="onfun(2)">Walmart Rpt 2</button></li>
        
        <li class="rev"><button (click)="logout()">LogOut</button></li>
        <!-- <li><button>User</button></li> -->
    </ul>
</div>
<div class="div3">
    <div id="dp1" style="display:none">
    <img [src]=myimage1 alt="Forest" width="600" height="400">
</div>
</div>
<div class="div4" style.display="none">
    <div id="dp2" style="display:none">
        <img [src]=myimage2 alt="Forest1" width="800" height="400" >
    </div>
</div>