.div1
{
    background-color: rgb(10, 163, 163);
    padding:10px;
    width:101%;
    margin-top: 0px;
    margin-left: -10px;
    height: 50px;
}
.div2
{
    position:left;
    background-color:rgb(106, 167, 172);
    width:220px;
    height:610px;
    margin-left: -8px;
    margin-top: 0px;
}
ul
{
    list-style-type: none;
}
h1
{
    margin-left: 300px;
    margin-top: -10px;

}
.rev
{
    position: absolute;
    margin-top: -650px;
    margin-left: 1285px;
}
.div3
{
margin-top: -550px;
margin-left: 450px;
}
.div4
{
margin-top: -550px;
margin-left: 300px;
}
.screen
{
   margin-left: 210px; 
   margin-top: -610px;
   
}