<div class="col-md-6">
    <h2 class="text-center">Update role</h2>
    <form  [formGroup]="userObj" (ngSubmit)="updateRole()">
      <div class="form-group">
        <label for="name">Role-Name:</label>
        <input type="text" placeholder="Role-Name" name="Rolename" class="form-control" id="name" formControlName="Rolename" >
      </div>
    
      <div class="form-group">
        <label for="designation">List-Name:</label>
        <input  placeholder="List-Name" name="listName" class="form-control" id="designation" formControlName="listName" >
      </div>
    
      <div class="form-group">
        <label for="empId">IsAdmin:</label>
        <input  placeholder="IsAdmin" name="isAdmin" class="form-control" id="employeeid" formControlName="isAdmin" >
      </div>
    
      <button type="submit"  class="btn btn-success" >Update</button>
      <!-- <a routerLink="/admin"><button class="btn btn-success" id="back">Back</button></a> -->
      <!-- <button class="btn btn-success" (click)="createRole(myForm.value)">Update</button> -->
    </form>
    </div>